* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.image {
    height: 150px;
    display: block;
}

.container {
    max-width: 940px;
    background-color: burlywood;
    margin-top: 30px;
    height: 600px;
    border: solid crimson 2px;
    display: flex;
    justify-content: space-around;
    
}
.player-1 {
    text-align: center;
    /* text-transform: uppercase; */
    /* border: solid 2px lime ; */
    flex-basis: 2;
    order: 1;
    
}
.player-2 {
    text-align: center;
    /* text-transform: uppercase; */
    /* border: 2px lime solid; */
    flex-basis: 2;
    order: 3;

}
.img-btns {
    /* border: 2px crimson solid; */
    flex-basis: 1;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.images {
    /* display: none; */
    margin-bottom: 10px;
    order: 1;
    flex-basis: 1;
}
.buttons {
    margin-top: 20px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    order: 2;
    flex-basis: 1;
}
.buttons .btn {
    display: block;
    margin: 40px auto;
    width: 80%;
}
.images .image {
    margin: 20px auto;
    border: solid 1px lime;
}

.content {
    margin-top: 40px;
}

.current-score {
    margin-top: 230px;
}
.current-player {
    background-color: rgb(246, 204, 150);
    border-radius: 10px;
    border: 1px dotted floralwhite;
}

.current-player h3 {
    font-weight: bold;
    color: green;
}