body {
    background-color: rgba(0, 191, 255, 0.49);
    margin-top: 5%;
}

.instruction {
    margin: 30px;
}

.instruction p, .instruction ul {
    font-size: large;
}

.danager {
    color: red;
}

.positive {
    color: green;
}